In [6]:
from utils import NDTOpenAI


course_api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2NWRiMmIwODY4YzQ4MjYzNjAyMjUwMDEiLCJleHAiOjE3MTc0NTkyMDB9.E6yK7cCg87yHIEtd8E0I_s2U04RER_tzgI9Nso3p-Tk'

client = NDTOpenAI(
    api_key=course_api_key,  # ключ для доступа к апи
)


prompt = "имена начинающиеся на 'Муст'"

messages = [
    {
        "role": "user",  # Роль - ассистент или юзер
        "content": prompt ,  # Сам промпт для подачи в ChatGPT
    }
]

response = client.chat.completions.create(
    model="gpt-3.5-turbo",  # модель для выбора
    messages=messages,  # сообщение
    temperature=0,  # степень креативности ответа
)

print(response.choices[0].message.content)

1. Мустафа
2. Мустаким
3. Мустафизур
4. Мустафиз
5. Мустафахан
6. Мустафаали
7. Мустафафа
8. Мустафах
9. Мустафахир
10. Мустафафир

---

In [14]:
import pandas as pd
from tqdm import tqdm

path = 'https://stepik.org/media/attachments/lesson/1084297/submission100lines.csv'
df = pd.read_csv(path)

In [15]:
df

    amount    text_id                                               text
0        2   14205200  Сниму жилье. 500-600 рублей сутки. Эконом клас...
1        6  319097075  ищем жилье в центре недалеко от моря с 23.07-0...
2        4   98881311  Ищем жилье на период с 18-28июля..на две семьи...
3        4   44587027  2 семьи по 3 человека (2 взрослых и ребенок) с...
4        3  352802829  Сниму недорогое жилье в лазаревском на 6 чел 3...
..     ...        ...                                                ...
95       4  233661411  Добрый день! Ищем жилье на 9 человек, 4 взросл...
96       1   77792435  Здравствуйте. Ищем жильё в период с 26 мая по ...
97       4  102311098  Добрый день! Ищем жилье в Лазаревском с 02.07-...
98       3  123993850  Ищем не дорогое жильё на начало июля , не дале...
99       2   54495881  ищем жилье с 8-20 августа с бассейном 3мест но...

[100 rows x 3 columns]

In [22]:
df['text'].values[0]

'Сниму жилье. 500-600 рублей сутки. Эконом класса. Заезд 18.06. На 9-10 дней. На одного человека.'

In [26]:
# Напишите шаблон промпт, указав инструкцию, вопрос и выходной индикатор

prompt_template = """

Context: {text_input}

answer the question using information from the context, if you don’t know how to answer, answer 1
give your answer as a single integer

Question: determine the number of people

Answer: ...
"""

In [34]:
from utils import ChatOpenAI


llm = ChatOpenAI(temperature=0.0, course_api_key=course_api_key)

amount_list = [] # Список, где будем хранить ответы модели

for text_input in tqdm(df['text']):
    prompt = prompt_template.format(text_input=text_input) # Добавляем сообщение в промпт
    amount = llm.invoke(prompt) # Ответ модели
    amount_list.append(int(amount.content)) # Добавляем ответ в список
    # break # Для отладки. Уберите, когда убедитесь, что на одном примере работает

100%|██████████| 100/100 [01:11<00:00,  1.40it/s]

---

In [35]:
df['amount'] = amount_list # Создаём новый столбец из ответов модели

In [37]:
df.to_csv('2_1_8_solution.csv', index=False) # Сохраняем файл, отправляем на Stepik, получаем баллы :)

---

In [38]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/1110806/100_crypto_messages.csv')

In [58]:
df.text.values[11]

'Удаленная работа 100-200$ в день. Пишите в лс. Не вебакам! Не наркотики!'

In [59]:
from langchain import PromptTemplate

template = """
determine whether the request belongs to the spam category or not, if in doubt, put one

Examples:
'Удаленная работа. От нас: Зп от 2500$' = 1
'Что вы думаете о концепции децентрализованных бирж (DEX)? Какие преимущества они предоставляют по сравнению с традиционными биржами?' = 0
'Меня всегда интересовал вопрос безопасности хранения криптовалюты. Какие лучшие методы хранения считаются наиболее надежными?' = 0
'Удаленная работа 100-200$ в день. Пишите в лс. Не вебакам! Не наркотики!' = 1

Question: {query}

Answer: """

prompt_template = PromptTemplate(
    input_variables=["query"],
    template=template
)

In [73]:
# examples = [
#    {
#     "query": "Удаленная работа. От нас: Зп от 2500$",
#     "answer": "1"
# }, {
#     "query": "Удалённый заработок. Время 1-2часа в день.",
#     "answer": "1"
# }, {
#     "query": "Меня всегда интересовал вопрос безопасности хранения криптовалюты. Какие лучшие методы 
#     хранения считаются наиболее надежными?",
#     "answer": "0"
# }
# ]

In [68]:
prompt = prompt_template.format(query=df['text'].values[0])
print(prompt)

determine whether the request belongs to the spam category or not, if in doubt, put one

Examples:
'Удаленная работа. От нас: Зп от 2500$' = 1
'Что вы думаете о концепции децентрализованных бирж (DEX)? Какие преимущества они предоставляют по сравнению с традиционными биржами?' = 0
'Меня всегда интересовал вопрос безопасности хранения криптовалюты. Какие лучшие методы хранения считаются наиболее надежными?' = 0
'Удаленная работа 100-200$ в день. Пишите в лс. Не вебакам! Не наркотики!' = 1

Question: Удаленная работа. От нас: Зп от 2500$

Answer:

In [69]:
amount_list = [] # Список, где будем хранить ответы модели

for text_input in tqdm(df['text']):
    prompt = prompt_template.format(query=text_input) # Добавляем сообщение в промпт
    amount = llm.invoke(prompt) # Ответ модели
    amount_list.append(int(amount.content)) # Добавляем ответ в список
    # Для отладки. Уберите, когда убедитесь, что на одном примере работает

100%|██████████| 100/100 [01:08<00:00,  1.47it/s]

In [70]:
df['is_spam'] = amount_list # Создаём новый столбец из ответов модели

In [71]:
del df['text']

In [72]:
df.to_csv('2_2_7_solution.csv', index=False) # Сохраняем файл, отправляем на Stepik, получаем баллы :)

---

In [75]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/1110806/vacancies_messages_50.csv')
df.head()

   text_id                                               text
0        9  #вакансия #vacancy #Python #удаленка #flask #r...
1       31  #ВАКАНСИЯ  #Системный_аналитик #РФ\n \nАКЦИОНЕ...
2       28  #вакансия #vacancy #job #senior #data #DB #dat...
3       49  #вакансия #fulltime #remote \n\n🔎 Ищем Руковод...
4       18  #vacancy #job #analyst #travel #sirenatravel #...

In [76]:
df.text[0]

'#вакансия #vacancy #Python #удаленка #flask #relocation #senior\n\nПозиция: Senior Python developer\nКомпания: Collectly\nФормат работы: Удаленно (не на территории РФ/РБ)\nВилка: 6000-9000$.net\nТрудоустройство: ИП или ТК Армении\nЗанятость: fulltime\n\nКонтакты: @ann_gfio\n\nCollectly - американская технологическая компания, прошедшая акселератор Y Combinator, специализирующаяся на автоматизации биллинга в медицинской сфере США. За почти 4 года существования компания стала прибыльной и стабильной, а также приобрела статус быстрорастущей организации.\n\nCollectly - первая в мире система, обеспечивающая автономное взаимодействие американских медицинских учреждений с пациентами в отношении медицинских счетов. Компания помогает пациентам разобраться в страховых планах, оплатить счета и получить финансовую помощь, снижая операционные расходы медицинских учреждений. Работа компании Collectly решает важные социальные проблемы в США и получает признание ведущих отраслевых журналов.\n\n🔎 Кого ищем? \n\nМы ищем сильного инженера, который готов работать в маленькой, но быстрорастущей технической команде: нужно уметь решать практические задачи просто (=> быстро), при этом свобода выбора за решение лежит на вас. Но и ответственность тоже! \n\nПроцессы и инструменты:\n- Недельные спринты с одним большим совещанием. JIRA для задач, Slack и Zoom для общения;\n- Внедрен CI/CD на основе Gitlab, тесты в пайплайне. Релизы каждой фичи независимые. Кто фичу писал — тот за неё и ответственный;\n- Code review перед Merge Request, посмотреть может каждый.\n\nСтек:\nPython, Flask, SqlAlchemy, PostgreSQL, Marshmallow, Celery, RabbitMQ, Redis. Custom REST API framework.\n\nТребования:\n- У вас должен быть практический опыт коммерческой web разработки от 4 лет и более;\n- Есть большой опыт работы с SQLAlchemy;\n- Хорошо знаете английский язык - В2 и выше;\n- Опыт работы с асинхронным кодом.\n\nМы предлагаем:\n- Полностью удаленная full-time вакансия; \n- Опцион (право на получение акций) в американском стартапе.'

In [77]:
review_template = """
Extract information from the following text:

job_title: position. As stated in the job description, in the same language. We check for a complete match, without regard to case.
If a grade is written, it needs to be removed (for example, Senior Python developer -> Python developer, C++ developer (middle, senior) -> C++ developer).

company: company as stated in the job description, in the same language. We check for a complete match, without regard to case.
We indicate only the name (we do not write fintech, large company, mobile game, etc.).

salary: Salary
We write numbers without spaces, we do not write thousand or k. (in this case we multiply by 1000), we do not write fixes, buns, bonuses, % of sales, equipment, etc.
We don’t write net, gross, on hand, etc.
After the number (range of numbers) we indicate the currency RUB. or $ after a space.
If a range is specified, then write it with a dash; do not put spaces near the dash (for example, 100k-150k rubles -> 100,000-150,000 rubles).
If only the lower limit is indicated (from $2000 or 100,000+rub), then we write this value using the word from (for example, 100k+rub -> from 100,000 ruble).
If only the upper limit is indicated, then we write this value using the word up to (for example, up to 100k rubles -> up to 100,000 rubles).
If the salary is indicated per hour, then at the end we add per hour.

tg: contact for communication, if it is a telegram (tg), use it with the @ symbol. Full match, case sensitive. 
If several contacts are specified, indicate them separated by commas, do not forget about the space after the comma.

grade: Grade. Possible values are intern, junior, junior+, middle, middle+, senior, lead.
If several values are specified, then write them separated by commas in ascending order.

Отформатируй вывод в формате JSON, используя следующие ключи:
job_title
company
salary
tg
grade

text: {text}
"""

In [79]:
amount_list = [] # Список, где будем хранить ответы модели

for text_input in tqdm(df['text']):
    prompt = review_template.format(text=text_input) # Добавляем сообщение в промпт
    amount = llm.invoke(prompt) # Ответ модели
    amount_list.append(amount.content) # Добавляем ответ в список
    break # Для отладки. Уберите, когда убедитесь, что на одном примере работает

  0%|          | 0/50 [00:01<?, ?it/s]

In [81]:
amount_list[0]

'{\n  "job_title": "Python developer",\n  "company": "Collectly",\n  "salary": "6000-9000 $",\n  "tg": "@ann_gfio",\n  "grade": "senior"\n}'

In [82]:
from langchain.output_parsers import ResponseSchema
from langchain.output_parsers import StructuredOutputParser

In [83]:
job_title_schema = ResponseSchema(
    name="job_title",
    description="..."
)


company_schema = ResponseSchema(
    name="company",
    description="..."
)


salary_schema = ResponseSchema(
    name="salary",
    description="..."
)


tg_schema = ResponseSchema(
    name="tg",
    description="..."
)


grade_schema = ResponseSchema(
    name="grade",
    description="..."
)

In [84]:
response_schemas = [job_title_schema, 
                    company_schema,
                    salary_schema,
                    tg_schema,
                    grade_schema]

In [85]:
# Создаём парсер и подаём в него список со схемами
output_parser = StructuredOutputParser.from_response_schemas(response_schemas)

In [86]:
# получаем инструкции по форматированию ответа
format_instructions = output_parser.get_format_instructions()

In [87]:
print(format_instructions)

The output should be a markdown code snippet formatted in the following schema, including the leading and trailing "```json" and "```":

```json
{
	"job_title": string  // ...
	"company": string  // ...
	"salary": string  // ...
	"tg": string  // ...
	"grade": string  // ...
}
```

In [89]:
review_template = """
Extract information from the following text:

job_title: position. As stated in the job description, in the same language. We check for a complete match, without regard to case.
If a grade is written, it needs to be removed (for example, Senior Python developer -> Python developer, C++ developer (middle, senior) -> C++ developer).

company: company as stated in the job description, in the same language. We check for a complete match, without regard to case.
We indicate only the name (we do not write fintech, large company, mobile game, etc.).

salary: Salary
We write numbers without spaces, we do not write thousand or k. (in this case we multiply by 1000), we do not write fixes, buns, bonuses, % of sales, equipment, etc.
We don’t write net, gross, on hand, etc.
After the number (range of numbers) we indicate the currency RUB. or $ after a space.
If a range is specified, then write it with a dash; do not put spaces near the dash (for example, 100k-150k rubles -> 100,000-150,000 rubles).
If only the lower limit is indicated (from $2000 or 100,000+rub), then we write this value using the word from (for example, 100k+rub -> from 100,000 ruble).
If only the upper limit is indicated, then we write this value using the word up to (for example, up to 100k rubles -> up to 100,000 rubles).
If the salary is indicated per hour, then at the end we add per hour.

tg: contact for communication, if it is a telegram (tg), use it with the @ symbol. Full match, case sensitive. 
If several contacts are specified, indicate them separated by commas, do not forget about the space after the comma.

grade: Grade. Possible values are intern, junior, junior+, middle, middle+, senior, lead.
If several values are specified, then write them separated by commas in ascending order.

Отформатируй вывод в формате JSON, используя следующие ключи:
job_title
company
salary
tg
grade

text: {text}

{format_instructions}
"""

In [91]:
from langchain.prompts import ChatPromptTemplate

In [106]:
amount_list = [] # Список, где будем хранить ответы модели

for text_input in tqdm(df['text']):
    prompt = ChatPromptTemplate.from_template(template=review_template)
    messages = prompt.format_messages(text=text_input, format_instructions=format_instructions)
    # prompt = review_template.format(text=text_input, ) # Добавляем сообщение в промпт
    amount = llm.invoke(messages) # Ответ модели
    amount_list.append(output_parser.parse(amount.content)) # Добавляем ответ в список
    # Для отладки. Уберите, когда убедитесь, что на одном примере работает

100%|██████████| 50/50 [01:33<00:00,  1.86s/it]

In [108]:
result_df = pd.DataFrame(amount_list) # Создаем датафрейм из полученной информации
ans_df = pd.concat([df, result_df], axis=1) # Объединяем всё в один датафрейм
ans_df.to_csv('2_2_8_solution.csv', index=False) # Сохраняем файл, отправляем на Stepik, получаем баллы :)

In [110]:
result_df.head()

,job_title,company,salary,tg,grade
0,Python developer,Collectly,6000-9000 $,@ann_gfio,senior
1,СИСТЕМНОГО АНАЛИТИКА,АКЦИОНЕРНОЕ ОБЩЕСТВО «ГЛАВНЫЙ НАУЧНЫЙ ИННОВАЦИ...,"from 320,000 rubles up to 370,000 rubles",@NatalyaMaki,"middle, middle+"
2,Senior Database Administrator,Match Systems,from 3000$,@lex_kertis,senior
3,Руководитель отдела системного администрирования,финтех компания,from 3000 $,@ResearcherRIT,"middle, middle+"
4,Analyst,Sirena Travel,"120,000-180,000 RUB",@ann_gfio,"middle, middle+"

145 / 250

---