In [6]:
from utils import NDTOpenAI


course_api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2NWRiMmIwODY4YzQ4MjYzNjAyMjUwMDEiLCJleHAiOjE3MTc0NTkyMDB9.E6yK7cCg87yHIEtd8E0I_s2U04RER_tzgI9Nso3p-Tk'

client = NDTOpenAI(
    api_key=course_api_key,  # –∫–ª—é—á –¥–ª—è –¥–æ—Å—Ç—É–ø–∞ –∫ –∞–ø–∏
)


prompt = "–∏–º–µ–Ω–∞ –Ω–∞—á–∏–Ω–∞—é—â–∏–µ—Å—è –Ω–∞ '–ú—É—Å—Ç'"

messages = [
    {
        "role": "user",  # –†–æ–ª—å - –∞—Å—Å–∏—Å—Ç–µ–Ω—Ç –∏–ª–∏ —é–∑–µ—Ä
        "content": prompt ,  # –°–∞–º –ø—Ä–æ–º–ø—Ç –¥–ª—è –ø–æ–¥–∞—á–∏ –≤ ChatGPT
    }
]

response = client.chat.completions.create(
    model="gpt-3.5-turbo",  # –º–æ–¥–µ–ª—å –¥–ª—è –≤—ã–±–æ—Ä–∞
    messages=messages,  # —Å–æ–æ–±—â–µ–Ω–∏–µ
    temperature=0,  # —Å—Ç–µ–ø–µ–Ω—å –∫—Ä–µ–∞—Ç–∏–≤–Ω–æ—Å—Ç–∏ –æ—Ç–≤–µ—Ç–∞
)

print(response.choices[0].message.content)

1. –ú—É—Å—Ç–∞—Ñ–∞
2. –ú—É—Å—Ç–∞–∫–∏–º
3. –ú—É—Å—Ç–∞—Ñ–∏–∑—É—Ä
4. –ú—É—Å—Ç–∞—Ñ–∏–∑
5. –ú—É—Å—Ç–∞—Ñ–∞—Ö–∞–Ω
6. –ú—É—Å—Ç–∞—Ñ–∞–∞–ª–∏
7. –ú—É—Å—Ç–∞—Ñ–∞—Ñ–∞
8. –ú—É—Å—Ç–∞—Ñ–∞—Ö
9. –ú—É—Å—Ç–∞—Ñ–∞—Ö–∏—Ä
10. –ú—É—Å—Ç–∞—Ñ–∞—Ñ–∏—Ä

---

In [14]:
import pandas as pd
from tqdm import tqdm

path = 'https://stepik.org/media/attachments/lesson/1084297/submission100lines.csv'
df = pd.read_csv(path)

In [15]:
df

    amount    text_id                                               text
0        2   14205200  –°–Ω–∏–º—É –∂–∏–ª—å–µ. 500-600 —Ä—É–±–ª–µ–π —Å—É—Ç–∫–∏. –≠–∫–æ–Ω–æ–º –∫–ª–∞—Å...
1        6  319097075  –∏—â–µ–º –∂–∏–ª—å–µ –≤ —Ü–µ–Ω—Ç—Ä–µ –Ω–µ–¥–∞–ª–µ–∫–æ –æ—Ç –º–æ—Ä—è —Å 23.07-0...
2        4   98881311  –ò—â–µ–º –∂–∏–ª—å–µ –Ω–∞ –ø–µ—Ä–∏–æ–¥ —Å 18-28–∏—é–ª—è..–Ω–∞ –¥–≤–µ —Å–µ–º—å–∏...
3        4   44587027  2 —Å–µ–º—å–∏ –ø–æ 3 —á–µ–ª–æ–≤–µ–∫–∞ (2 –≤–∑—Ä–æ—Å–ª—ã—Ö –∏ —Ä–µ–±–µ–Ω–æ–∫) —Å...
4        3  352802829  –°–Ω–∏–º—É –Ω–µ–¥–æ—Ä–æ–≥–æ–µ –∂–∏–ª—å–µ –≤ –ª–∞–∑–∞—Ä–µ–≤—Å–∫–æ–º –Ω–∞ 6 —á–µ–ª 3...
..     ...        ...                                                ...
95       4  233661411  –î–æ–±—Ä—ã–π –¥–µ–Ω—å! –ò—â–µ–º –∂–∏–ª—å–µ –Ω–∞ 9 —á–µ–ª–æ–≤–µ–∫, 4 –≤–∑—Ä–æ—Å–ª...
96       1   77792435  –ó–¥—Ä–∞–≤—Å—Ç–≤—É–π—Ç–µ. –ò—â–µ–º –∂–∏–ª—å—ë –≤ –ø–µ—Ä–∏–æ–¥ —Å 26 –º–∞—è –ø–æ ...
97       4  102311098  –î–æ–±—Ä—ã–π –¥–µ–Ω—å! –ò—â–µ–º –∂–∏–ª—å–µ –≤ –õ–∞–∑–∞—Ä–µ–≤—Å–∫–æ–º —Å 02.07-...
98       3  123993850  –ò—â–µ–º –Ω–µ –¥–æ—Ä–æ–≥–æ–µ –∂–∏–ª—å—ë –Ω–∞ –Ω–∞—á–∞–ª–æ –∏—é–ª—è , –Ω–µ –¥–∞–ª–µ...
99       2   54495881  –∏—â–µ–º –∂–∏–ª—å–µ —Å 8-20 –∞–≤–≥—É—Å—Ç–∞ —Å –±–∞—Å—Å–µ–π–Ω–æ–º 3–º–µ—Å—Ç –Ω–æ...

[100 rows x 3 columns]

In [22]:
df['text'].values[0]

'–°–Ω–∏–º—É –∂–∏–ª—å–µ. 500-600 —Ä—É–±–ª–µ–π —Å—É—Ç–∫–∏. –≠–∫–æ–Ω–æ–º –∫–ª–∞—Å—Å–∞. –ó–∞–µ–∑–¥ 18.06. –ù–∞ 9-10 –¥–Ω–µ–π. –ù–∞ –æ–¥–Ω–æ–≥–æ —á–µ–ª–æ–≤–µ–∫–∞.'

In [26]:
# –ù–∞–ø–∏—à–∏—Ç–µ —à–∞–±–ª–æ–Ω –ø—Ä–æ–º–ø—Ç, —É–∫–∞–∑–∞–≤ –∏–Ω—Å—Ç—Ä—É–∫—Ü–∏—é, –≤–æ–ø—Ä–æ—Å –∏ –≤—ã—Ö–æ–¥–Ω–æ–π –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä

prompt_template = """

Context: {text_input}

answer the question using information from the context, if you don‚Äôt know how to answer, answer 1
give your answer as a single integer

Question: determine the number of people

Answer: ...
"""

In [34]:
from utils import ChatOpenAI


llm = ChatOpenAI(temperature=0.0, course_api_key=course_api_key)

amount_list = [] # –°–ø–∏—Å–æ–∫, –≥–¥–µ –±—É–¥–µ–º —Ö—Ä–∞–Ω–∏—Ç—å –æ—Ç–≤–µ—Ç—ã –º–æ–¥–µ–ª–∏

for text_input in tqdm(df['text']):
    prompt = prompt_template.format(text_input=text_input) # –î–æ–±–∞–≤–ª—è–µ–º —Å–æ–æ–±—â–µ–Ω–∏–µ –≤ –ø—Ä–æ–º–ø—Ç
    amount = llm.invoke(prompt) # –û—Ç–≤–µ—Ç –º–æ–¥–µ–ª–∏
    amount_list.append(int(amount.content)) # –î–æ–±–∞–≤–ª—è–µ–º –æ—Ç–≤–µ—Ç –≤ —Å–ø–∏—Å–æ–∫
    # break # –î–ª—è –æ—Ç–ª–∞–¥–∫–∏. –£–±–µ—Ä–∏—Ç–µ, –∫–æ–≥–¥–∞ —É–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –Ω–∞ –æ–¥–Ω–æ–º –ø—Ä–∏–º–µ—Ä–µ —Ä–∞–±–æ—Ç–∞–µ—Ç

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 100/100 [01:11<00:00,  1.40it/s]

---

In [35]:
df['amount'] = amount_list # –°–æ–∑–¥–∞—ë–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –∏–∑ –æ—Ç–≤–µ—Ç–æ–≤ –º–æ–¥–µ–ª–∏

In [37]:
df.to_csv('2_1_8_solution.csv', index=False) # –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ñ–∞–π–ª, –æ—Ç–ø—Ä–∞–≤–ª—è–µ–º –Ω–∞ Stepik, –ø–æ–ª—É—á–∞–µ–º –±–∞–ª–ª—ã :)

---

In [38]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/1110806/100_crypto_messages.csv')

In [58]:
df.text.values[11]

'–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞ 100-200$ –≤ –¥–µ–Ω—å. –ü–∏—à–∏—Ç–µ –≤ –ª—Å. –ù–µ –≤–µ–±–∞–∫–∞–º! –ù–µ –Ω–∞—Ä–∫–æ—Ç–∏–∫–∏!'

In [59]:
from langchain import PromptTemplate

template = """
determine whether the request belongs to the spam category or not, if in doubt, put one

Examples:
'–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞. –û—Ç –Ω–∞—Å: –ó–ø –æ—Ç 2500$' = 1
'–ß—Ç–æ –≤—ã –¥—É–º–∞–µ—Ç–µ –æ –∫–æ–Ω—Ü–µ–ø—Ü–∏–∏ –¥–µ—Ü–µ–Ω—Ç—Ä–∞–ª–∏–∑–æ–≤–∞–Ω–Ω—ã—Ö –±–∏—Ä–∂ (DEX)? –ö–∞–∫–∏–µ –ø—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–∞ –æ–Ω–∏ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è—é—Ç –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω—ã–º–∏ –±–∏—Ä–∂–∞–º–∏?' = 0
'–ú–µ–Ω—è –≤—Å–µ–≥–¥–∞ –∏–Ω—Ç–µ—Ä–µ—Å–æ–≤–∞–ª –≤–æ–ø—Ä–æ—Å –±–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç–∏ —Ö—Ä–∞–Ω–µ–Ω–∏—è –∫—Ä–∏–ø—Ç–æ–≤–∞–ª—é—Ç—ã. –ö–∞–∫–∏–µ –ª—É—á—à–∏–µ –º–µ—Ç–æ–¥—ã —Ö—Ä–∞–Ω–µ–Ω–∏—è —Å—á–∏—Ç–∞—é—Ç—Å—è –Ω–∞–∏–±–æ–ª–µ–µ –Ω–∞–¥–µ–∂–Ω—ã–º–∏?' = 0
'–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞ 100-200$ –≤ –¥–µ–Ω—å. –ü–∏—à–∏—Ç–µ –≤ –ª—Å. –ù–µ –≤–µ–±–∞–∫–∞–º! –ù–µ –Ω–∞—Ä–∫–æ—Ç–∏–∫–∏!' = 1

Question: {query}

Answer: """

prompt_template = PromptTemplate(
    input_variables=["query"],
    template=template
)

In [73]:
# examples = [
#    {
#     "query": "–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞. –û—Ç –Ω–∞—Å: –ó–ø –æ—Ç 2500$",
#     "answer": "1"
# }, {
#     "query": "–£–¥–∞–ª—ë–Ω–Ω—ã–π –∑–∞—Ä–∞–±–æ—Ç–æ–∫. –í—Ä–µ–º—è 1-2—á–∞—Å–∞ –≤ –¥–µ–Ω—å.",
#     "answer": "1"
# }, {
#     "query": "–ú–µ–Ω—è –≤—Å–µ–≥–¥–∞ –∏–Ω—Ç–µ—Ä–µ—Å–æ–≤–∞–ª –≤–æ–ø—Ä–æ—Å –±–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç–∏ —Ö—Ä–∞–Ω–µ–Ω–∏—è –∫—Ä–∏–ø—Ç–æ–≤–∞–ª—é—Ç—ã. –ö–∞–∫–∏–µ –ª—É—á—à–∏–µ –º–µ—Ç–æ–¥—ã 
#     —Ö—Ä–∞–Ω–µ–Ω–∏—è —Å—á–∏—Ç–∞—é—Ç—Å—è –Ω–∞–∏–±–æ–ª–µ–µ –Ω–∞–¥–µ–∂–Ω—ã–º–∏?",
#     "answer": "0"
# }
# ]

In [68]:
prompt = prompt_template.format(query=df['text'].values[0])
print(prompt)

determine whether the request belongs to the spam category or not, if in doubt, put one

Examples:
'–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞. –û—Ç –Ω–∞—Å: –ó–ø –æ—Ç 2500$' = 1
'–ß—Ç–æ –≤—ã –¥—É–º–∞–µ—Ç–µ –æ –∫–æ–Ω—Ü–µ–ø—Ü–∏–∏ –¥–µ—Ü–µ–Ω—Ç—Ä–∞–ª–∏–∑–æ–≤–∞–Ω–Ω—ã—Ö –±–∏—Ä–∂ (DEX)? –ö–∞–∫–∏–µ –ø—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–∞ –æ–Ω–∏ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è—é—Ç –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω—ã–º–∏ –±–∏—Ä–∂–∞–º–∏?' = 0
'–ú–µ–Ω—è –≤—Å–µ–≥–¥–∞ –∏–Ω—Ç–µ—Ä–µ—Å–æ–≤–∞–ª –≤–æ–ø—Ä–æ—Å –±–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç–∏ —Ö—Ä–∞–Ω–µ–Ω–∏—è –∫—Ä–∏–ø—Ç–æ–≤–∞–ª—é—Ç—ã. –ö–∞–∫–∏–µ –ª—É—á—à–∏–µ –º–µ—Ç–æ–¥—ã —Ö—Ä–∞–Ω–µ–Ω–∏—è —Å—á–∏—Ç–∞—é—Ç—Å—è –Ω–∞–∏–±–æ–ª–µ–µ –Ω–∞–¥–µ–∂–Ω—ã–º–∏?' = 0
'–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞ 100-200$ –≤ –¥–µ–Ω—å. –ü–∏—à–∏—Ç–µ –≤ –ª—Å. –ù–µ –≤–µ–±–∞–∫–∞–º! –ù–µ –Ω–∞—Ä–∫–æ—Ç–∏–∫–∏!' = 1

Question: –£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞. –û—Ç –Ω–∞—Å: –ó–ø –æ—Ç 2500$

Answer:

In [69]:
amount_list = [] # –°–ø–∏—Å–æ–∫, –≥–¥–µ –±—É–¥–µ–º —Ö—Ä–∞–Ω–∏—Ç—å –æ—Ç–≤–µ—Ç—ã –º–æ–¥–µ–ª–∏

for text_input in tqdm(df['text']):
    prompt = prompt_template.format(query=text_input) # –î–æ–±–∞–≤–ª—è–µ–º —Å–æ–æ–±—â–µ–Ω–∏–µ –≤ –ø—Ä–æ–º–ø—Ç
    amount = llm.invoke(prompt) # –û—Ç–≤–µ—Ç –º–æ–¥–µ–ª–∏
    amount_list.append(int(amount.content)) # –î–æ–±–∞–≤–ª—è–µ–º –æ—Ç–≤–µ—Ç –≤ —Å–ø–∏—Å–æ–∫
    # –î–ª—è –æ—Ç–ª–∞–¥–∫–∏. –£–±–µ—Ä–∏—Ç–µ, –∫–æ–≥–¥–∞ —É–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –Ω–∞ –æ–¥–Ω–æ–º –ø—Ä–∏–º–µ—Ä–µ —Ä–∞–±–æ—Ç–∞–µ—Ç

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 100/100 [01:08<00:00,  1.47it/s]

In [70]:
df['is_spam'] = amount_list # –°–æ–∑–¥–∞—ë–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –∏–∑ –æ—Ç–≤–µ—Ç–æ–≤ –º–æ–¥–µ–ª–∏

In [71]:
del df['text']

In [72]:
df.to_csv('2_2_7_solution.csv', index=False) # –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ñ–∞–π–ª, –æ—Ç–ø—Ä–∞–≤–ª—è–µ–º –Ω–∞ Stepik, –ø–æ–ª—É—á–∞–µ–º –±–∞–ª–ª—ã :)

---

In [75]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/1110806/vacancies_messages_50.csv')
df.head()

   text_id                                               text
0        9  #–≤–∞–∫–∞–Ω—Å–∏—è #vacancy #Python #—É–¥–∞–ª–µ–Ω–∫–∞ #flask #r...
1       31  #–í–ê–ö–ê–ù–°–ò–Ø  #–°–∏—Å—Ç–µ–º–Ω—ã–π_–∞–Ω–∞–ª–∏—Ç–∏–∫ #–†–§\n \n–ê–ö–¶–ò–û–ù–ï...
2       28  #–≤–∞–∫–∞–Ω—Å–∏—è #vacancy #job #senior #data #DB #dat...
3       49  #–≤–∞–∫–∞–Ω—Å–∏—è #fulltime #remote \n\nüîé –ò—â–µ–º –†—É–∫–æ–≤–æ–¥...
4       18  #vacancy #job #analyst #travel #sirenatravel #...

In [76]:
df.text[0]

'#–≤–∞–∫–∞–Ω—Å–∏—è #vacancy #Python #—É–¥–∞–ª–µ–Ω–∫–∞ #flask #relocation #senior\n\n–ü–æ–∑–∏—Ü–∏—è: Senior Python developer\n–ö–æ–º–ø–∞–Ω–∏—è: Collectly\n–§–æ—Ä–º–∞—Ç —Ä–∞–±–æ—Ç—ã: –£–¥–∞–ª–µ–Ω–Ω–æ (–Ω–µ –Ω–∞ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏–∏ –†–§/–†–ë)\n–í–∏–ª–∫–∞: 6000-9000$.net\n–¢—Ä—É–¥–æ—É—Å—Ç—Ä–æ–π—Å—Ç–≤–æ: –ò–ü –∏–ª–∏ –¢–ö –ê—Ä–º–µ–Ω–∏–∏\n–ó–∞–Ω—è—Ç–æ—Å—Ç—å: fulltime\n\n–ö–æ–Ω—Ç–∞–∫—Ç—ã: @ann_gfio\n\nCollectly - –∞–º–µ—Ä–∏–∫–∞–Ω—Å–∫–∞—è —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏—á–µ—Å–∫–∞—è –∫–æ–º–ø–∞–Ω–∏—è, –ø—Ä–æ—à–µ–¥—à–∞—è –∞–∫—Å–µ–ª–µ—Ä–∞—Ç–æ—Ä Y Combinator, —Å–ø–µ—Ü–∏–∞–ª–∏–∑–∏—Ä—É—é—â–∞—è—Å—è –Ω–∞ –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü–∏–∏ –±–∏–ª–ª–∏–Ω–≥–∞ –≤ –º–µ–¥–∏—Ü–∏–Ω—Å–∫–æ–π —Å—Ñ–µ—Ä–µ –°–®–ê. –ó–∞ –ø–æ—á—Ç–∏ 4 –≥–æ–¥–∞ —Å—É—â–µ—Å—Ç–≤–æ–≤–∞–Ω–∏—è –∫–æ–º–ø–∞–Ω–∏—è —Å—Ç–∞–ª–∞ –ø—Ä–∏–±—ã–ª—å–Ω–æ–π –∏ —Å—Ç–∞–±–∏–ª—å–Ω–æ–π, –∞ —Ç–∞–∫–∂–µ –ø—Ä–∏–æ–±—Ä–µ–ª–∞ —Å—Ç–∞—Ç—É—Å –±—ã—Å—Ç—Ä–æ—Ä–∞—Å—Ç—É—â–µ–π –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏.\n\nCollectly - –ø–µ—Ä–≤–∞—è –≤ –º–∏—Ä–µ —Å–∏—Å—Ç–µ–º–∞, –æ–±–µ—Å–ø–µ—á–∏–≤–∞—é—â–∞—è –∞–≤—Ç–æ–Ω–æ–º–Ω–æ–µ –≤–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏–µ –∞–º–µ—Ä–∏–∫–∞–Ω—Å–∫–∏—Ö –º–µ–¥–∏—Ü–∏–Ω—Å–∫–∏—Ö —É—á—Ä–µ–∂–¥–µ–Ω–∏–π —Å –ø–∞—Ü–∏–µ–Ω—Ç–∞–º–∏ –≤ –æ—Ç–Ω–æ—à–µ–Ω–∏–∏ –º–µ–¥–∏—Ü–∏–Ω—Å–∫–∏—Ö —Å—á–µ—Ç–æ–≤. –ö–æ–º–ø–∞–Ω–∏—è –ø–æ–º–æ–≥–∞–µ—Ç –ø–∞—Ü–∏–µ–Ω—Ç–∞–º —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ —Å—Ç—Ä–∞—Ö–æ–≤—ã—Ö –ø–ª–∞–Ω–∞—Ö, –æ–ø–ª–∞—Ç–∏—Ç—å —Å—á–µ—Ç–∞ –∏ –ø–æ–ª—É—á–∏—Ç—å —Ñ–∏–Ω–∞–Ω—Å–æ–≤—É—é –ø–æ–º–æ—â—å, —Å–Ω–∏–∂–∞—è –æ–ø–µ—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ä–∞—Å—Ö–æ–¥—ã –º–µ–¥–∏—Ü–∏–Ω—Å–∫–∏—Ö —É—á—Ä–µ–∂–¥–µ–Ω–∏–π. –†–∞–±–æ—Ç–∞ –∫–æ–º–ø–∞–Ω–∏–∏ Collectly —Ä–µ—à–∞–µ—Ç –≤–∞–∂–Ω—ã–µ —Å–æ—Ü–∏–∞–ª—å–Ω—ã–µ –ø—Ä–æ–±–ª–µ–º—ã –≤ –°–®–ê –∏ –ø–æ–ª—É—á–∞–µ—Ç –ø—Ä–∏–∑–Ω–∞–Ω–∏–µ –≤–µ–¥—É—â–∏—Ö –æ—Ç—Ä–∞—Å–ª–µ–≤—ã—Ö –∂—É—Ä–Ω–∞–ª–æ–≤.\n\nüîé –ö–æ–≥–æ –∏—â–µ–º? \n\n–ú—ã –∏—â–µ–º —Å–∏–ª—å–Ω–æ–≥–æ –∏–Ω–∂–µ–Ω–µ—Ä–∞, –∫–æ—Ç–æ—Ä—ã–π –≥–æ—Ç–æ–≤ —Ä–∞–±–æ—Ç–∞—Ç—å –≤ –º–∞–ª–µ–Ω—å–∫–æ–π, –Ω–æ –±—ã—Å—Ç—Ä–æ—Ä–∞—Å—Ç—É—â–µ–π —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–æ–π –∫–æ–º–∞–Ω–¥–µ: –Ω—É–∂–Ω–æ —É–º–µ—Ç—å —Ä–µ—à–∞—Ç—å –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ –∑–∞–¥–∞—á–∏ –ø—Ä–æ—Å—Ç–æ (=> –±—ã—Å—Ç—Ä–æ), –ø—Ä–∏ —ç—Ç–æ–º —Å–≤–æ–±–æ–¥–∞ –≤—ã–±–æ—Ä–∞ –∑–∞ —Ä–µ—à–µ–Ω–∏–µ –ª–µ–∂–∏—Ç –Ω–∞ –≤–∞—Å. –ù–æ –∏ –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ—Å—Ç—å —Ç–æ–∂–µ! \n\n–ü—Ä–æ—Ü–µ—Å—Å—ã –∏ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã:\n- –ù–µ–¥–µ–ª—å–Ω—ã–µ —Å–ø—Ä–∏–Ω—Ç—ã —Å –æ–¥–Ω–∏–º –±–æ–ª—å—à–∏–º —Å–æ–≤–µ—â–∞–Ω–∏–µ–º. JIRA –¥–ª—è –∑–∞–¥–∞—á, Slack –∏ Zoom –¥–ª—è –æ–±—â–µ–Ω–∏—è;\n- –í–Ω–µ–¥—Ä–µ–Ω CI/CD –Ω–∞ –æ—Å–Ω–æ–≤–µ Gitlab, —Ç–µ—Å—Ç—ã –≤ –ø–∞–π–ø–ª–∞–π–Ω–µ. –†–µ–ª–∏–∑—ã –∫–∞–∂–¥–æ–π —Ñ–∏—á–∏ –Ω–µ–∑–∞–≤–∏—Å–∏–º—ã–µ. –ö—Ç–æ —Ñ–∏—á—É –ø–∏—Å–∞–ª ‚Äî —Ç–æ—Ç –∑–∞ –Ω–µ—ë –∏ –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω—ã–π;\n- Code review –ø–µ—Ä–µ–¥ Merge Request, –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –º–æ–∂–µ—Ç –∫–∞–∂–¥—ã–π.\n\n–°—Ç–µ–∫:\nPython, Flask, SqlAlchemy, PostgreSQL, Marshmallow, Celery, RabbitMQ, Redis. Custom REST API framework.\n\n–¢—Ä–µ–±–æ–≤–∞–Ω–∏—è:\n- –£ –≤–∞—Å –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏–π –æ–ø—ã—Ç –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π web —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏ –æ—Ç 4 –ª–µ—Ç –∏ –±–æ–ª–µ–µ;\n- –ï—Å—Ç—å –±–æ–ª—å—à–æ–π –æ–ø—ã—Ç —Ä–∞–±–æ—Ç—ã —Å SQLAlchemy;\n- –•–æ—Ä–æ—à–æ –∑–Ω–∞–µ—Ç–µ –∞–Ω–≥–ª–∏–π—Å–∫–∏–π —è–∑—ã–∫ - –í2 –∏ –≤—ã—à–µ;\n- –û–ø—ã—Ç —Ä–∞–±–æ—Ç—ã —Å –∞—Å–∏–Ω—Ö—Ä–æ–Ω–Ω—ã–º –∫–æ–¥–æ–º.\n\n–ú—ã –ø—Ä–µ–¥–ª–∞–≥–∞–µ–º:\n- –ü–æ–ª–Ω–æ—Å—Ç—å—é —É–¥–∞–ª–µ–Ω–Ω–∞—è full-time –≤–∞–∫–∞–Ω—Å–∏—è; \n- –û–ø—Ü–∏–æ–Ω (–ø—Ä–∞–≤–æ –Ω–∞ –ø–æ–ª—É—á–µ–Ω–∏–µ –∞–∫—Ü–∏–π) –≤ –∞–º–µ—Ä–∏–∫–∞–Ω—Å–∫–æ–º —Å—Ç–∞—Ä—Ç–∞–ø–µ.'

In [77]:
review_template = """
Extract information from the following text:

job_title: position. As stated in the job description, in the same language. We check for a complete match, without regard to case.
If a grade is written, it needs to be removed (for example, Senior Python developer -> Python developer, C++ developer (middle, senior) -> C++ developer).

company: company as stated in the job description, in the same language. We check for a complete match, without regard to case.
We indicate only the name (we do not write fintech, large company, mobile game, etc.).

salary: Salary
We write numbers without spaces, we do not write thousand or k. (in this case we multiply by 1000), we do not write fixes, buns, bonuses, % of sales, equipment, etc.
We don‚Äôt write net, gross, on hand, etc.
After the number (range of numbers) we indicate the currency RUB. or $ after a space.
If a range is specified, then write it with a dash; do not put spaces near the dash (for example, 100k-150k rubles -> 100,000-150,000 rubles).
If only the lower limit is indicated (from $2000 or 100,000+rub), then we write this value using the word from (for example, 100k+rub -> from 100,000 ruble).
If only the upper limit is indicated, then we write this value using the word up to (for example, up to 100k rubles -> up to 100,000 rubles).
If the salary is indicated per hour, then at the end we add per hour.

tg: contact for communication, if it is a telegram (tg), use it with the @ symbol. Full match, case sensitive. 
If several contacts are specified, indicate them separated by commas, do not forget about the space after the comma.

grade: Grade. Possible values are intern, junior, junior+, middle, middle+, senior, lead.
If several values are specified, then write them separated by commas in ascending order.

–û—Ç—Ñ–æ—Ä–º–∞—Ç–∏—Ä—É–π –≤—ã–≤–æ–¥ –≤ —Ñ–æ—Ä–º–∞—Ç–µ JSON, –∏—Å–ø–æ–ª—å–∑—É—è —Å–ª–µ–¥—É—é—â–∏–µ –∫–ª—é—á–∏:
job_title
company
salary
tg
grade

text: {text}
"""

In [79]:
amount_list = [] # –°–ø–∏—Å–æ–∫, –≥–¥–µ –±—É–¥–µ–º —Ö—Ä–∞–Ω–∏—Ç—å –æ—Ç–≤–µ—Ç—ã –º–æ–¥–µ–ª–∏

for text_input in tqdm(df['text']):
    prompt = review_template.format(text=text_input) # –î–æ–±–∞–≤–ª—è–µ–º —Å–æ–æ–±—â–µ–Ω–∏–µ –≤ –ø—Ä–æ–º–ø—Ç
    amount = llm.invoke(prompt) # –û—Ç–≤–µ—Ç –º–æ–¥–µ–ª–∏
    amount_list.append(amount.content) # –î–æ–±–∞–≤–ª—è–µ–º –æ—Ç–≤–µ—Ç –≤ —Å–ø–∏—Å–æ–∫
    break # –î–ª—è –æ—Ç–ª–∞–¥–∫–∏. –£–±–µ—Ä–∏—Ç–µ, –∫–æ–≥–¥–∞ —É–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –Ω–∞ –æ–¥–Ω–æ–º –ø—Ä–∏–º–µ—Ä–µ —Ä–∞–±–æ—Ç–∞–µ—Ç

  0%|          | 0/50 [00:01<?, ?it/s]

In [81]:
amount_list[0]

'{\n  "job_title": "Python developer",\n  "company": "Collectly",\n  "salary": "6000-9000 $",\n  "tg": "@ann_gfio",\n  "grade": "senior"\n}'

In [82]:
from langchain.output_parsers import ResponseSchema
from langchain.output_parsers import StructuredOutputParser

In [83]:
job_title_schema = ResponseSchema(
    name="job_title",
    description="..."
)


company_schema = ResponseSchema(
    name="company",
    description="..."
)


salary_schema = ResponseSchema(
    name="salary",
    description="..."
)


tg_schema = ResponseSchema(
    name="tg",
    description="..."
)


grade_schema = ResponseSchema(
    name="grade",
    description="..."
)

In [84]:
response_schemas = [job_title_schema, 
                    company_schema,
                    salary_schema,
                    tg_schema,
                    grade_schema]

In [85]:
# –°–æ–∑–¥–∞—ë–º –ø–∞—Ä—Å–µ—Ä –∏ –ø–æ–¥–∞—ë–º –≤ –Ω–µ–≥–æ —Å–ø–∏—Å–æ–∫ —Å–æ —Å—Ö–µ–º–∞–º–∏
output_parser = StructuredOutputParser.from_response_schemas(response_schemas)

In [86]:
# –ø–æ–ª—É—á–∞–µ–º –∏–Ω—Å—Ç—Ä—É–∫—Ü–∏–∏ –ø–æ —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏—é –æ—Ç–≤–µ—Ç–∞
format_instructions = output_parser.get_format_instructions()

In [87]:
print(format_instructions)

The output should be a markdown code snippet formatted in the following schema, including the leading and trailing "```json" and "```":

```json
{
	"job_title": string  // ...
	"company": string  // ...
	"salary": string  // ...
	"tg": string  // ...
	"grade": string  // ...
}
```

In [89]:
review_template = """
Extract information from the following text:

job_title: position. As stated in the job description, in the same language. We check for a complete match, without regard to case.
If a grade is written, it needs to be removed (for example, Senior Python developer -> Python developer, C++ developer (middle, senior) -> C++ developer).

company: company as stated in the job description, in the same language. We check for a complete match, without regard to case.
We indicate only the name (we do not write fintech, large company, mobile game, etc.).

salary: Salary
We write numbers without spaces, we do not write thousand or k. (in this case we multiply by 1000), we do not write fixes, buns, bonuses, % of sales, equipment, etc.
We don‚Äôt write net, gross, on hand, etc.
After the number (range of numbers) we indicate the currency RUB. or $ after a space.
If a range is specified, then write it with a dash; do not put spaces near the dash (for example, 100k-150k rubles -> 100,000-150,000 rubles).
If only the lower limit is indicated (from $2000 or 100,000+rub), then we write this value using the word from (for example, 100k+rub -> from 100,000 ruble).
If only the upper limit is indicated, then we write this value using the word up to (for example, up to 100k rubles -> up to 100,000 rubles).
If the salary is indicated per hour, then at the end we add per hour.

tg: contact for communication, if it is a telegram (tg), use it with the @ symbol. Full match, case sensitive. 
If several contacts are specified, indicate them separated by commas, do not forget about the space after the comma.

grade: Grade. Possible values are intern, junior, junior+, middle, middle+, senior, lead.
If several values are specified, then write them separated by commas in ascending order.

–û—Ç—Ñ–æ—Ä–º–∞—Ç–∏—Ä—É–π –≤—ã–≤–æ–¥ –≤ —Ñ–æ—Ä–º–∞—Ç–µ JSON, –∏—Å–ø–æ–ª—å–∑—É—è —Å–ª–µ–¥—É—é—â–∏–µ –∫–ª—é—á–∏:
job_title
company
salary
tg
grade

text: {text}

{format_instructions}
"""

In [91]:
from langchain.prompts import ChatPromptTemplate

In [106]:
amount_list = [] # –°–ø–∏—Å–æ–∫, –≥–¥–µ –±—É–¥–µ–º —Ö—Ä–∞–Ω–∏—Ç—å –æ—Ç–≤–µ—Ç—ã –º–æ–¥–µ–ª–∏

for text_input in tqdm(df['text']):
    prompt = ChatPromptTemplate.from_template(template=review_template)
    messages = prompt.format_messages(text=text_input, format_instructions=format_instructions)
    # prompt = review_template.format(text=text_input, ) # –î–æ–±–∞–≤–ª—è–µ–º —Å–æ–æ–±—â–µ–Ω–∏–µ –≤ –ø—Ä–æ–º–ø—Ç
    amount = llm.invoke(messages) # –û—Ç–≤–µ—Ç –º–æ–¥–µ–ª–∏
    amount_list.append(output_parser.parse(amount.content)) # –î–æ–±–∞–≤–ª—è–µ–º –æ—Ç–≤–µ—Ç –≤ —Å–ø–∏—Å–æ–∫
    # –î–ª—è –æ—Ç–ª–∞–¥–∫–∏. –£–±–µ—Ä–∏—Ç–µ, –∫–æ–≥–¥–∞ —É–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –Ω–∞ –æ–¥–Ω–æ–º –ø—Ä–∏–º–µ—Ä–µ —Ä–∞–±–æ—Ç–∞–µ—Ç

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 50/50 [01:33<00:00,  1.86s/it]

In [108]:
result_df = pd.DataFrame(amount_list) # –°–æ–∑–¥–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏–∑ –ø–æ–ª—É—á–µ–Ω–Ω–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏
ans_df = pd.concat([df, result_df], axis=1) # –û–±—ä–µ–¥–∏–Ω—è–µ–º –≤—Å—ë –≤ –æ–¥–∏–Ω –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
ans_df.to_csv('2_2_8_solution.csv', index=False) # –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ñ–∞–π–ª, –æ—Ç–ø—Ä–∞–≤–ª—è–µ–º –Ω–∞ Stepik, –ø–æ–ª—É—á–∞–µ–º –±–∞–ª–ª—ã :)

In [110]:
result_df.head()

,job_title,company,salary,tg,grade
0,Python developer,Collectly,6000-9000 $,@ann_gfio,senior
1,–°–ò–°–¢–ï–ú–ù–û–ì–û –ê–ù–ê–õ–ò–¢–ò–ö–ê,–ê–ö–¶–ò–û–ù–ï–†–ù–û–ï –û–ë–©–ï–°–¢–í–û ¬´–ì–õ–ê–í–ù–´–ô –ù–ê–£–ß–ù–´–ô –ò–ù–ù–û–í–ê–¶–ò...,"from 320,000 rubles up to 370,000 rubles",@NatalyaMaki,"middle, middle+"
2,Senior Database Administrator,Match Systems,from 3000$,@lex_kertis,senior
3,–†—É–∫–æ–≤–æ–¥–∏—Ç–µ–ª—å –æ—Ç–¥–µ–ª–∞ —Å–∏—Å—Ç–µ–º–Ω–æ–≥–æ –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–Ω–∏—è,—Ñ–∏–Ω—Ç–µ—Ö –∫–æ–º–ø–∞–Ω–∏—è,from 3000 $,@ResearcherRIT,"middle, middle+"
4,Analyst,Sirena Travel,"120,000-180,000 RUB",@ann_gfio,"middle, middle+"

145 / 250

---